/cget
/dist
/download-cache
/.cache
/bin
/lib
/doc
/libexec
/share
/.config
/include
/etc/ssl
/sources
/*-linux-*
/*-w64-*
/*-none-*
/*.cmake
*.pyc
/toolchains-*.tar.xz
/toolchains.zip
/bootstrap
/bootstrap-*.log
